header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}
nav {
    display: flex;
    justify-content: space-around;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 20px; 
}
div {
    display: flex;
    flex-direction: columns; 
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
article {
    padding-left: 20px; 
    padding-top: 50px; 
}
a {
    font-size: 15px;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

img {
    padding-left: 20px;
    padding-top: 20px;
}
footer {
    display: grid;
    grid-template-rows: repeat(1fr);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input {
    border-radius: 2px;
    height: 10px;
} 
#subscribe {
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: auto; 
    box-shadow: 1px;
}